.custom_archieve_pagination {
  .ant-pagination-item {
    a {
      font-weight: 600;
    }
  }
  .ant-pagination-item-active {
    border: 1px solid #eeeeee80;
    background: #fff;
    box-shadow: 13px 15px 45px 4px #7090b01a;
    &:hover {
      border: 1px solid #eeeeee80 !important;
      color: #2980ff !important;
    }
    a {
      color: #2980ff;
    }
  }
  .ant-pagination-next:not(.ant-pagination-disabled),
  .ant-pagination-prev:not(.ant-pagination-disabled) {
    background: #fff;
    border: 1px solid #eeeeee80;
    box-shadow: 13px 15px 45px 4px #7090b01a !important;
    svg {
      fill: #2980ff !important;
    }
  }
}
