.custom_radio_input {
    padding: 5px;
    background: #f9f9f9;
    border-radius: 10.846px;
    .ant-radio-button-wrapper {
        border: 0px !important;
        &::after {
            display: none !important;
        }
    }
}

.custom_tab {
    .ant-tabs-nav-wrap {
        .ant-tabs-nav-list {
            gap: 19px !important;
        }
    }

    .ant-tabs-nav .ant-tabs-tab {
        color: #9c9ca4 !important;
    }

    .ant-tabs-nav .ant-tabs-tab-active {
        color: #2b3674 !important;
    }
}

.text-green {
    color: #1c7c54;
}

.metrics {
    .ant-collapse {
        background-color: #fff;

        .ant-collapse-item {
            border: 1px solid #eeeeee4d;
            background-color: #fdfdff;
            border-radius: 15px;
            margin-bottom: 20px;

            .ant-collapse-header {
                align-items: center !important;
            }
        }
    }
}

.pagination_button {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    color: #000;
    margin-right: 10px;
    font-weight: bold;

    span {
        color: #000;
    }

    &:last-child {
        margin-right: 0;
    }

    &.active {
        box-shadow: 0.342679px 3.987539px 7.080997px 0.52648px rgba(112, 144, 176, 0.1);
        border: 0.882px solid rgba(238, 238, 238, 0.5);
        color: #297fff !important;

        span {
            color: #297fff !important;
        }
    }

    &.disabled {
        cursor: not-allowed;
        color: #7b7b7c !important;

        span {
            color: #7b7b7c !important;
        }
    }
}

.custom-table-header {
    .ant-table-thead {
        .ant-table-cell {
            color: #9C9CA4 !important;
            font-weight: 500 !important;
            background-color: white !important;
        }
    }
}

.custom-radio-group{
    .ant-radio-button-wrapper{
        background-color: $gray;
        color: $blue;
    }
}