.bg-for-date {
    background-color: #d066ce;
}

.dashboard {
    .home {
        .container-stories {
            white-space: nowrap;
            height: 210px;

            .card.story {
                border: 0;
                padding: 5px;
                border-radius: 15px;
                display: inline-block;
                position: relative;
                width: 177px;
                height: 210px;
                margin-right: 12px;

                &:last-child {
                    margin-right: 0;
                }

                img {
                    border-radius: 15px;
                }
            }
        }

        .ant-select-selector {
            background-color: transparent !important;
            border: none !important;
            color: $blue;
        }

        .ant-select-focused {
            .ant-select-selector {
                box-shadow: none !important;
                outline: 0 !important;
            }
        }

        .ant-progress-inner {
            .ant-progress-bg {
                background: #FF9C09;
            }
        }
    }
}

.activities {
    .activity {
        box-shadow: 8px 10px 40px 4px rgba(112, 144, 176, 0.05);
        margin-top: 8px;
        padding: 12px 16px;
        min-width: 800px;
        cursor: pointer;

        &:first-child {
            margin-top: 0 !important;
        }
    }
}