.checkbox_full_width {
  span.ant-checkbox {
    width: 16px !important;
  }
  span:not(.ant-checkbox) {
    width: 100% !important;
  }
}
.custom_input_label {
  .ant-col.ant-form-item-label {
    label {
      color: #2b3674 !important;
      font-weight: 600;
    }
  }
}
