// .template_card {
//     &:active {
//         border: 2px solid rgba(41, 127, 255, 0.4) !important;
//         box-shadow: 14px 17px 50px 4px rgba(112, 144, 176, 0.1) !important;
//     }
// }

.tab-first {
    .ant-tabs-nav {
        margin-bottom: 0px !important;
    }

    .ant-tabs-nav-list {
        width: 100% !important;

        .ant-tabs-tab {
            width: 33.33%;
            display: flex;
            justify-content: center;

            .ant-tabs-tab-btn {
                font-size: 18px;
            }
        }
    }
}

.sticky_bottom_buttons {
    position: sticky;
    bottom: 0;
    background-color: $body-light;
    // padding-bottom: 8px;
    margin-top: 15px;
}

.transactions-checkbox {
    display: flex;
    flex-direction: column;

    &>label {
        margin-left: 0 !important;
        margin-top: 10px;
        color: $blue;
        font-weight: 500 !important;
    }
}

.transactions-row {
    width: 1401px;

    .transactions-column {
        width: 321px;
        margin-right: 39px;

        &:last-child {
            margin-right: 0 !important;
        }

        .bg-active {
            background-color: #297fff1a;
        }

        .text-active {
            color: #297fff;
        }

        .bg-pending {
            background-color: #ff9c091a;
        }

        .text-pending {
            color: #ff9c09;
        }

        .bg-closed {
            background-color: #1395271a;
        }

        .text-closed {
            color: #139527;
        }

        .bg-cancelled {
            background-color: #ff29291a;
        }

        .text-cancelled {
            color: #ff2929;
        }
    }
}

.transactions-dragging-card-back {
    // background-color: #F6F6F6;
    border: 2px dashed rgba(35, 35, 35, 0.16);
    border-radius: 9.97865px;
    cursor: grab;

    .spinner {
        position: absolute;
        top: 0;
        left: 0;
        @include flex-center();
        width: 100%;
        height: 100%;
        background-color: rgba($color: #fff, $alpha: 0.75);
    }
}

.transactions-dragging-card-front {
    outline: 3px solid white;
    border: 0;
    border-radius: 9.97865px;

    .spinner {
        position: absolute;
        top: 0;
        left: 0;
        @include flex-center();
        width: 100%;
        height: 100%;
        background-color: rgba($color: #fff, $alpha: 0.75);
    }
}

.transactions-modal {
    .ant-modal-content {
        padding: 16px !important;

        .main-content {
            padding: 40px 16px;

            .ant-form-item-label {
                label {
                    color: $blue;
                    font-weight: 500;
                }
            }
        }

        .ant-modal-header,
        .ant-modal-footer {
            background-color: #fdfdff;
            border: 1px solid rgba(222, 210, 249, 0.5);
            padding: 22px;
            margin-top: 0;
            margin-bottom: 0;
            border-radius: 8px;
        }

        .ant-modal-footer {
            padding: 16px;
        }

        .ant-modal-header,
        .ant-modal-footer {
            button {
                box-shadow: none;
            }

            button.btn-cancel {
                background: rgba(43, 54, 116, 0.15);
                color: $blue;
            }

            button.btn-back {
                background: rgba(208, 102, 206, 0.15);
                color: rgba(208, 102, 206);

                &:hover {
                    border-color: rgba(208, 102, 206);
                }
            }

            button.btn-submit {
                width: 200px;
            }
        }
    }
}

.transactions-modal.documents-modal {
    .ant-modal-content {
        padding: 0 !important;

        .ant-modal-header {
            background-color: #f7f7fa;
            padding: 16px 24px;
            border: 0 !important;
            margin: 0 !important;

            button {
                width: 120px;
            }
        }

        .main-content {
            padding: 24px;
            margin: 0 !important;
        }
    }
}

// Details
.parties-collapse {
    .ant-collapse {

        .ant-collapse-header {
            border-radius: 8px;
        }

        .ant-collapse-header,
        .ant-collapse-content-box {
            padding: 6px !important;
        }

        .ant-collapse-content-box {
            padding-top: 0 !important;
        }
    }
}

.single-transaction-form {
    .ant-form-item {
        margin-bottom: 10px !important;
    }

    .ant-form-item-label {
        label {
            color: $blue !important;
            font-weight: 500;
        }
    }

    .ant-picker-input {
        .ant-picker-suffix {
            color: $primary;
        }
    }
}

// Notes
.notes-popover {
    .ant-popover-inner {
        padding: 0 !important;
    }
}

.btn-notes {
    box-shadow: 14px 17px 50px 4px #7090b01a;
    border-radius: 20px 0px 0px 20px;
    position: fixed;
    top: 256px;
    right: 0;
    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space: nowrap;
    width: 36px;
    height: auto;
    padding: 12px 4px 12px 0;
    font-size: 16px;
    font-weight: 500;
}

.custom-popover {
    position: fixed;
    bottom: 120px;
    right: 40px;
    width: 345px;
    box-shadow: 14px 17px 50px 4px #7090b01a;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    height: calc(100vh - 289px);
    z-index: 1000;

    .header {
        padding: 12px 20px;
        background-color: $blue;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .card {
        border: 0;
        margin-bottom: 12px;
        border-top: 8px solid #ff4d4f !important;
        border-radius: 10px !important;
    }

    .input-box {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.transaction-checklist-dropdown {
    max-height: 400px;

    ul {
        max-height: 400px;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow: auto;
    }

    ul::-webkit-scrollbar {
        display: none;
        overflow: auto;
    }
}

.dropzone-upload {
    // flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    border: 2px dashed #eee;
    border-radius: 15px;
    // background-color: #fafafa;
    // color: #bdbdbd;
    outline: none;
    transition: border 0.24s ease-in-out;
    cursor: pointer;
}