@import "./scss/bootstrap";

.dashboard.light {
    background-color: #fcfcfc;
    color: black !important;
}

.dashboard.dark {
    background-color: #0d1321;
    color: #fcfcfc;
}


@import "./scss/mixins";
@import "./scss/bootstrap";
// @import "./scss/libraries";
@import "./scss/dashboard";
@import "./scss/screen-loader";
@import "./scss/buttons";
@import "./scss/utilities";


#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

.flex-center {
    @include flex-center();
}

.align-center {
    @include align-center();
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}