main.auth {
    @include flex-center();
    // background: $body-light url("../assets/images/bg-auth.png") center;
    background-size: cover;
    padding: 48px 24px;

    img.bubbles-top {
        position: absolute;
        top: -120px;
        right: -140px;
        max-width: 360px;
    }

    img.bubbles-bottom {
        position: absolute;
        bottom: -50px;
        left: -220px;
        max-width: 360px;
    }

    .card {
        max-width: 600px;
        width: 100%;
        border: none;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        img.logo {
            max-width: 175px;
        }

        .ant-form-item-label>label {
            color: $blue !important;
        }

        .btn-signin {
            width: 170px;
        }

        // .btn-google {
        //     iframe {
        //         width: 100% !important;
        //         margin: 0 !important;
        //     }

        //     #container {
        //         width: 100% !important;
        //         padding: 0 !important;

        //         &>div {
        //             width: 100% !important;
        //             max-width: auto !important;
        //             min-width: auto !important;
        //         }
        //     }
        // }

        button {
            box-shadow: none;
        }
    }
}

.confirmation_input {
    padding: 16px 16px;
    font-style: normal;
    font-size: 24px;
    border: 1px solid #ebebec;
    width: 81.25px;
    height: 85px;
    outline: none !important;
    text-align: center;
    align-items: center;
    border-radius: 10px;

    &::placeholder {
        opacity: 0.3;
    }

    &:focus {
        border: 1px solid #d066ce;
    }
}

@media screen and (min-width: 632px) {
    main.auth {
        .card {
            min-width: 600px;
        }
    }
}

@media screen and (max-width: 480px) {
    main.auth {
        .card {
            .btn-signin {
                width: 100%;
            }
        }
    }
}