/* Chrome, Safari, Edge, Opera */
.remove-arrows::-webkit-outer-spin-button,
.remove-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.remove-arrows {
    -moz-appearance: textfield;
    appearance: textfield;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-grab {
    cursor: grab !important;
}

.ant-input-large {
    width: 100%;
    padding: 7px 11px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 0;
    color: rgba(0, 0, 0, 0.88);
    list-style: none;
    font-family: Outfit, sans-serif;
    position: relative;
    display: inline-block;
    min-width: 0;
    background-color: #ffffff;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    transition: all 0.2s;

    &:hover {
        border-color: $primary;
    }

    &::placeholder {
        color: #d9d9d9;
        font-weight: normal;
    }
}

.ant-form.label-blue {
    .ant-form-item-label {
        label {
            color: $blue !important;
        }
    }
}

.ant-form.label-bold {
    .ant-form-item-label {
        label {
            font-weight: 500;
        }
    }
}

.ant-picker.icon-primary{
    .ant-picker-suffix{
        color: $primary;
    }
}