.mt-10px {
    margin-top: 10px !important;
}

.mb-10px {
    margin-bottom: 10px !important;
}

.ms-10px {
    margin-left: 10px !important;
}

.me-10px {
    margin-right: 10px !important;
}

.my-10px {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.mx-10px {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.mt-20px {
    margin-top: 20px !important;
}

.mb-20px {
    margin-bottom: 20px !important;
}

.ms-20px {
    margin-left: 20px !important;
}

.me-20px {
    margin-right: 20px !important;
}

.my-20px {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.mx-20px {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.mt-12px {
    margin-top: 12px !important;
}

.mb-12px {
    margin-bottom: 12px !important;
}

.my-12px {
    margin-bottom: 12px !important;
    margin-top: 12px !important;
}

.p-12px {
    padding: 12px !important;
}

.py-12px {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.px-12px {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.pt-12px {
    padding-top: 12px !important;
}

.pb-12px {
    padding-bottom: 12px !important;
}

.p-15px {
    padding: 15px !important;
}

.py-15px {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.px-15px {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.pt-15px {
    padding-top: 15px !important;
}

.pe-15px {
    padding-right: 15px !important;
}

.pb-15px {
    padding-bottom: 15px !important;
}

.ps-15px {
    padding-left: 15px !important;
}

.pt-6 {
    padding-top: 60px !important;
}

.rounded-10px {
    border-radius: 10px !important;
}

.opacity-80 {
    opacity: 0.8 !important;
}