@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

/* Define a variable for the Fira Code font */
$fira-code-font: 'Fira Code', monospace;

.home {
    .fontFamily {
        font-family: $fira-code-font;
    }

    .light-table {
        .ant-table {
            .ant-table-tbody {
                .ant-table-cell {
                    .ant-table-row-expand-icon {
                        background-color: white;
                        color: black;
                    }
                }
            }
        }
    }

    .dark-table {
        .ant-table {
            background-color: #383838;

            .ant-table-thead {
                .ant-table-cell {
                    background-color: #383838 !important;
                }

                .ant-table-cell:hover {
                    background-color: #383838 !important;
                }

            }

            .ant-table-tbody {
                .ant-table-cell {
                    .ant-table-row-expand-icon {
                        background-color: #383838;
                        color: white;
                    }
                }

                .ant-table-column-sort {
                    background-color: #383838;
                    color: white;
                }

                .ant-table-cell-fix-left {
                    background-color: #383838;
                    color: white;
                }
            }
        }

        .ant-table-column-sorter {
            color: white;
        }

        .ant-table-thead>tr>th {
            background-color: #383838;
            color: white !important;
        }

        .ant-table-cell {
            color: white !important;
        }

        .ant-table-cell-row-hover {
            background-color: #383838 !important;
            color: white !important;
        }

        .ant-table-expanded-row-fixed {
            background-color: #383838 !important;
        }

        .ant-empty-description {
            color: white;
        }
    }

    .staking-calculator {

        .ant-space {
            width: 100% !important;
        }

        .ant-space-item {
            width: 100% !important;
        }

        .ant-space-compact {
            width: 100% !important;
        }

        .ant-select {
            width: 50%;
        }

        .dark-dropdown {
            background-color: #383838;

            .ant-select-selector {
                background-color: #383838;

                .ant-select-selection-item {
                    color: white !important;
                }

                .ant-select-selection-search-input {
                    margin-top: 10px;
                    margin-left: 0px;
                    color: white !important;
                }
            }

            .ant-select-open {
                .ant-select-selection-item {
                    color: white !important;
                }
            }

            .ant-select-arrow {
                color: white;
            }

            .ant-select-selection-placeholder {
                color: rgba(255, 255, 255, 0.623)
            }

        }

        .ant-select-selector {
            width: 100% !important;
            height: 50px !important;
            padding: 10px !important;

            .ant-select-selection-search-input {
                margin-top: 10px;
                margin-left: 0px;
                // color: white !important;
            }
        }

        .ant-input {
            width: 50% !important;
        }

        .ant-input {
            border-top-left-radius: 0px !important;
            border-bottom-left-radius: 0px !important;
            border-top-right-radius: 6px !important;
            border-bottom-right-radius: 6px !important;
        }

        .input-placeholder::placeholder {
            color: rgba(255, 255, 255, 0.623);
        }

        .rtl-input {
            direction: rtl;
            text-align: right;
            /* For left-aligned text within the input */
        }
    }

    .stake-tao {
        .ant-select-selector {
            width: 100%;
            height: 50px;
            padding: 10px;

            .ant-select-selection-search-input {
                margin-top: 10px;
                margin-left: 0px;
            }

        }

        .input-with-button {
            position: relative;
            display: inline-flex;
            align-items: center;
        }

        .ant-input {
            height: 50px;
        }

        .input-with-button input {
            padding: 10px;
            border-top-right-radius: 6;
            border-bottom-right-radius: 6;
        }

        .input-with-button button {
            position: absolute;
            right: 8px;
            border-top-left-radius: 6;
            border-bottom-left-radius: 6;
        }

        .dark-dropdown {
            .ant-select-selector {
                background-color: #383838;

                .ant-select-selection-search-input {
                    margin-top: 10px;
                    margin-left: 0px;
                    color: white !important;
                }

                .ant-select-selection-item {
                    color: white !important;
                }
            }

            .ant-select-open {
                .ant-select-selection-item {
                    color: white !important;
                }
            }

            .ant-select-arrow {
                color: white;
            }

            .ant-select-selection-placeholder {
                color: rgba(255, 255, 255, 0.623)
            }


        }

        .ant-select-selection-search-input {
            margin-top: 10px;
            margin-left: 0px;
        }

        .input-placeholder::placeholder {
            color: rgba(255, 255, 255, 0.623);
        }

        .select-placeholder::placeholder {
            // background-color: aqua !important;
            color: rgba(255, 255, 255, 0.623) !important;
        }

        .input-label {
            .ant-row {
                .ant-col {
                    label {
                        color: white !important;
                    }
                }
            }
        }
    }
}