@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

/* Define a variable for the Fira Code font */
$fira-code-font: 'Fira Code', monospace;

/* Apply the font family to the custom-navbar class */
.custom-navbar {
    font-family: $fira-code-font;
    transition: box-shadow 0.3s ease-in-out;
    z-index: 900 !important;

    .shadow {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .custom-btn {
        font-family: $fira-code-font !important;
    }
}

.ant-modal-root {
    .ant-modal-mask {
        z-index: 1100;
    }

    .ant-modal-wrap {
        z-index: 1100;
    }
}

.account-modal {
    .ant-modal {
        border-radius: 6px !important;
    }

    .ant-modal-content {
        background-color: #121212 !important;
        color: white;

        .ant-modal-close-x {
            color: white;
        }

        .ant-modal-header {
            .ant-modal-title {
                background-color: #121212;
                color: white;
            }
        }
    }
}

.dashboard.dark {
    .ant-drawer-close {
        color: white !important;
    }

}

.ant-drawer {
    z-index: 1100 !important;
}